{% extends "base.html" %}
{% block content %}
<div class="p-5">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" class="space-y-[10px]">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-[20px] w-[200px] h-[40px] rounded-[20px] bg-sky-500 text-white">log in</button>
    </form>

    <a href="{% url 'register' %}">
        <button type="button" class="mt-[10px] w-[200px] h-[40px] rounded-[20px] bg-white text-black border-gray border-[2px] border-solid">nieuw account</button>
    </a>
</div>
{% endblock content %}
